<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title %> - Omise</title>
    <link rel="stylesheet" href="https://cdn1.omise.co/fonts/inconsolata.css">
    <link rel="stylesheet" href="https://cdn2.omise.co/fonts/lato.css">
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  <body>
    <header class="Header">
      <div class="Wrapper">
        <img src="https://dashboard.omise.co/assets/logo-8b6d4ebb41f5b82452f6bc8b13440856.svg" width="96" height="32">
      </div>
      <a></a>
    </header>
    <div class="Wrapper">
      <div class="Main">
      <nav class="Nav"><div class="NavInner">
        <h2>Documentation</h2>
        <ul>
          <li><%= link_to_current "Getting Started", "/" %></li>
          <li><%= link_to_current "Collecting Card Information", "/collecting-card-information" %></li>
          <li><%= link_to_current "Charging Cards", "/charging-cards" %></li>
        </ul>

        <h2>References</h2>
        <ul>
          <li><%= link_to_current "Omise.js", "/omise-js" %></li>
          <li><%= link_to_current "Authentication", "/api/authentication" %></li>
          <li><%= link_to_current "Pagination &amp; Lists", "/api/pagination" %></li>
          <li>&nbsp;</li>
          <li><%= link_to_current "Account", "/api/account" %></li>
          <li><%= link_to_current "Balance", "/api/balance" %></li>
          <li><%= link_to_current "Tokens", "/api/tokens" %></li>
          <li><%= link_to_current "Cards", "/api/cards" %></li>
          <li><%= link_to_current "Charges", "/api/charges" %></li>
          <li><%= link_to_current "Customers", "/api/customers" %></li>
          <li><%= link_to_current "Transfers", "/api/transfers" %></li>
          <li><%= link_to_current "Transactions", "/api/transactions" %></li>
        </ul>
      </div></nav>
      <article class="Article">
        <header class="ArticleHeader">
          <h1><%= current_page.data.title %></h1>
          <p><%= current_page.data.excerpt %></p>
        </header>
        <div class="ArticleContent">
          <% if current_page.data.notices %>
            <div class="Notice">
              <%= current_page.data.notices %>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </article>
      </div>
    </div>
  </body>
<html>
