<nav class="Nav"><div class="NavInner">
  <h2>Documentation</h2>
  <ul>
    <li><%= link_to_current "Getting Started", "/" %></li>
    <li><%= link_to_current "Collecting Cards", "/collecting-card-information" %></li>
    <li><%= link_to_current "Charging Cards", "/charging-cards" %></li>
    <li><%= link_to_current "Refunding Charges", "/refunding-charges" %></li>
    <li><%= link_to_current "Transferring funds", "/transferring-funds" %></li>
    <li><%= link_to_current "Dashboard Transfers", "/dashboard-transfers" %></li>
    <li><%= link_to_current "Security Best Practices", "/security-best-practices" %></li>
    <li><%= link_to_current "Release Notes", "/release-notes" %></li>
  </ul>

  <h2>References</h2>
  <ul>
    <li><%= link_to_current "Omise.js", "/omise-js" %></li>
    <li><%= link_to_current "Card.js", "/card-js" %></li>
    <li><%= link_to_current "Authentication", "/api/authentication" %></li>
    <li><%= link_to_current "Pagination &amp; Lists", "/api/pagination" %></li>
    <li><%= link_to_current "Tests", "/api/tests" %></li>
    <li><%= link_to_current "Errors", "/api/errors" %><br></li>
    <% data.objects.each do |name, object| %>
      <li><%= link_to_current object.resource_name.titleize, "/api/#{object.resource_name}" %></li>
    <% end %>
  </ul>

  <h2>Plugins</h2>
  <ul>
    <li><%= link_to_current "ActiveMerchant", "/active_merchant" %></li>
    <li><%= link_to_current "Magento", "/magento" %></li>
    <li><%= link_to_current "OpenCart", "/opencart" %></li>
    <li><%= link_to_current "WooCommerce", "/woocommerce" %></li>
  </ul>
</div></nav>
